@charset "UTF-8";

$basecolor: #727171;

body {
    background-color: #fff;
}

#custom-container {
    @include main-bgcolor;

    #accordion-space {
        @include main-inner-bgcolor;
        #accordion {
            border: 1px darken($basecolor, 20%) solid;
            border-top: none;
            dt {
                @include dt-bgcolor;
                border-top: 1px #ccc solid;
                h2 {
                    a {
                        color: lighten($basecolor, 30%);
                    }
                }
            }
            dd {
                @include dd-bgcolor;
                color: darken($basecolor, 30%);
            }
        }
    }
}

#custom-mail-inner {
    @include main-inner-bgcolor;
    #custom-mail-space {
        dt {
            @include dt-bgcolor;
            border-top: 1px #ccc solid;
            h2 {
                a {
                    color: lighten($basecolor, 30%);
                }
            }
        }
        dd {
            @include dd-bgcolor;
            color: darken($basecolor, 30%);
        }
    }
}


#custom-footer {
    @include nav-footer-bgcolor;
}



