@charset "UTF-8";

$basecolor: #727171;

body {
    background-color: #fff;
    #custom-container {
        @include main-bgc;

        #accordion-space {
            @include main-inner-bgc;
            #accordion {
                border: 1px darken($basecolor, 20%) solid;
                border-top: none;
                dt {
                    @include dt-bgc;
                    border-top: 1px #ccc solid;
                    text-align: center;
                    vertical-align: middle;
                    h2 {
                        display: block;
                        a {
                            color: lighten($basecolor, 30%);
                        }
                    }
                }
                dd {
                    @include dd-bgc;
                    color: darken($basecolor, 30%);
                }
            }
        }
    }
}

#custom-mail-inner {
    @include main-inner-bgc;
#custom-mail-space {
    dt {
        @include dt-bgc;
    }
    dd {
        @include dd-bgc;
    }
}
}
// @media screen and (min-width:499px) {}
// // アコーディオン設定(開始)
// #accordion {
//     dd {
//         .dd-images {
//             padding: 10%;
//             margin: 5px;
//             .slick-box {
//                 padding: 0;
//                 margin: 0;
//             }
//             .slick-nav {
//                 padding: 0;
//                 margin: 0;
//             }
//         }

//         }
//     }
// }
// // アコーディオン(終了)