@charset "UTF-8";

$basecolor: #727171;


// アコーディオン設定(開始)
#accordion {
    border: 1px darken($basecolor, 20%) solid;
    border-top: none;
    width: 100%;
    dt {
        background: darken($basecolor, 20%);
        padding: 10px;
        border-top: 1px #ccc solid;
        text-align: center;
        a {
            color: lighten($basecolor, 30%);
            display: block;
        }
    }
    dd {
        background-color: lighten($basecolor, 30%);
        padding: 20px 30px;
        margin: 10px;
        a {
            color: #ff0000;
            /*リンク時のリンクの色*/
            &:hover {
                text-decoration: none;
                color: #00ff00;
                /*マウスホバー時のリンクの色*/
            }
        }
    }
}

// アコーディオン(終了)