@charset "UTF-8";
// Slick カスタム


.dd-images {
    .slick-box {
        img {
            width: 400px;
            height: 400px;
        }
    }
    .slick-nav {
        img {
            width: 50px;
            height: 50px;
        }
    }
}



