@charset "UTF-8";
// Slick カスタム
@mixin custom-slider {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 40px;
    border: 1px solid #fff; //後で削除
    .custom-slider {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        margin-bottom: 0;
        img {
            width: 400px;
            height: 400px;
        }
    }
}