@charset "UTF-8"; // ナビゲーションバー
.row {
    width: 100%;
    height: 100%;
}

.dd-images {
    width: 100%;
    height: 100%;
    .custom-dd-images {
        width: 98%;
        height: 98%;
        margin: 5px auto;
        padding: 10px;
        .custom-slick-box {
            .custom-slider-top {
                margin-bottom: 0;
                li {
                    img {
                        margin: 0 auto;
                        max-width: 500px;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            .custom-slider-nav {
                max-width: 500px;
                margin: 0 auto;
                li {
                    img {
                        max-width: 100px;
                        max-height: 100px;
                        width: 100%;
                        height: 100%;
                    }
                }
                .slick-prev::before {
                    content: '\f0c4';
                    font-family: FontAwesome;
                }
                .slick-next::before {
                    content: '\f0c4';
                    font-family: FontAwesome;
                }
                .slick-prev {
                    left: 20px;
                    z-index: 100;
                    transform: scale(-1, 1);
                }
                .slick-next {
                    right: 20px;
                    z-index: 100;
                }
            }
        }
    }
}

.dd-contents {
    width: 100%;
    height: 100%;
    .custom-dd-contents {
        width: 98%;
        height: 98%;
        margin: 5px auto;
        padding: 10px;
        text-align: center;
    }
}

.dd-order .dd-back,
.dd-coordination .dd-back,
.dd-profile .dd-back,
.dd-mail .dd-back {
    background: url('../images/back/backleft.jpg') no-repeat;
    background-size: cover;
    background-position: left center;
}

.dd-remake .dd-back,
.dd-story .dd-back,
.dd-mail .dd-back {
    background: url('../images/back/backright.jpg') no-repeat;
    background-size: cover;
    background-position: left center;
}