@charset "UTF-8";

@import "css/nav","css/accordion";
@import "css/slick/slick","css/slick/slick-theme";

$basecolor: #727171;

body {
    background-color: #fff;
    color: darken($basecolor, 30%);
}

// メイン(開始)
main {
    margin: 20% 10%;
    padding: 20% auto;
}
// メイン(終了)

// slick(開始)
// カスタム
.slick {
    .slick-box {

        img {
            width: 400px;
            height: 400px;
        }
    }
    .slick-nav {
        img {
            width: 50px;
            height: 50px;
        }
    }
}