@charset "UTF-8";

// カスタム用
@import "css/slick/slick",
"css/slick/slick-theme";
@import "css/bootstrap/bootstrap";
@import "css/slick-custom",
"css/bootstrap-custom";
@import "css/accordion",
"css/nav";

$basecolor: #727171;


body {
    background: darken($basecolor, 15%);
    color: darken($basecolor, 30%);
    margin: 0;
    padding: 0;
}


/* --- コンテナ --- */

#container {
    width: 90%;
    margin: 0 auto;
}

body {
    header {
        height: 100px;
        background: darken($basecolor, 15%);
    }
    main {
        height: 1000px;
        background: lighten($basecolor, 40%);
    }
    footer {
        height: 100px;
        background: darken($basecolor, 30%);
    }
}

.accordion-space {
    border: 1px darken($basecolor, 20%) solid; //後で消す
}

.mail-space {
    width: 100%;
    border: 1px darken($basecolor, 20%) solid;
}